#header-img {
  padding: 3rem;
  padding-top: 8rem;
  margin-left: -15px;
  margin-right: -15px;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  background-position: center 0%;
}

.title-text-bg {
  display: inline-block;
  background-color: rgba(3, 129, 152, .7);
}

.big-text {
  font-family: 'Dancing Script', serif;
  font-size: 3rem;
}

.post-header {
  margin-bottom: 0rem;
}

p {
  margin-bottom: 0rem;
}

.validation-message {
  font-style: normal;
  font-size: 10px;
  color: #ff1c19;
}

a {
  transition: all 0.2s;
}

a:hover, a:focus, a:active {
  color: #99e0f7;
  text-decoration: none;
}

.pagination {
  display: block;
  text-align: center;
}

img.icon-image {
  border-radius: 50%;
  max-height: 50px;
  border: #99e0f7 solid 1px;
}