<!-- this is base template with navbar and footer -->
{% load static %}
{% load socialaccount %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
  <!-- Custom Script -->
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
  <title>Water Valley, Mississippi</title>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'Home' %}">City of Water Valley</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <!-- show login only if user is not yet authenticated -->
        {% if not user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% provider_login_url 'google' %}">Login</a></li>
        {% endif %}
        <!-- show new post only if user is authenticated -->
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_post' %}">New Post</a>
        </li>
        {% else %}

        {% endif %}
        <!-- show sign out only if user is authenticated -->
        {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Sign Out</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container shadow">
    <div id="content">
      <div id="header-wrapper">
        <div id="header-img" style="background-image: url('{% static 'bg.jpg' %}');" class="mt-1 text-white">
          <div class="title-text-bg p-2 rounded">
            <span class="big-text">City of Water Valley</span><br>
            <small>101 Blackmur Drive, Water Valley, MS 38965</small>
          </div>
        </div>
      </div>
      <!-- Logged user info -->
      {% if user.is_authenticated %}
      <div>
        <p class="text-center">
          | Logged user: {{ user.username }} | Email: {{ user.email }} |
          Admin:{{ user.is_superuser }} | <a  href="{% url 'logout' %}">Sign Out</a>
        </p>
      </div>
      {% endif %}
      {% block content %}{% endblock %}
    </div>


    <!-- footer -->
    <div class="mb-3 p-1">
      <p class="text-right">&copy; City of Water Valley 2020<br>
        Information contained on this website may not by current, is not subject
        to verification, and is intended for informational purposes only</p>
      <p class="text-right">Created in partnership with <a href="https://basecampcodingacademy.org/"
          target="_blank">Base Camp Coding
          Academy</a> by class of 2020 students <a href="https://devinbooker616.github.io/" target="_blank">Devin
          Booker</a> and <a href="https://tyler-irving.github.io/" target="_blank">Tyler Irving.</a></p>
      <p class="text-right">
        <a href="https://basecampcodingacademy.org/" target="_blank">
          <img class="icon-image" src="{% static 'bcca.png' %}">
        </a>
        <a href="https://devinbooker616.github.io/" target="_blank">
          <img class="icon-image" src="{% static 'Devin Booker.jpg' %}">
        </a>
        <a href="https://tyler-irving.github.io/" target="_blank">
          <img class="icon-image" src="{% static 'ti.jpg' %}">
        </a>
      </p>
      <p class="text-right">
        <small>Background image courtesy <a href="https://commons.wikimedia.org/wiki/User:Fredlyfish4"
            target="_blank">FredlyFish4</a></small>
      </p>
    </div>
  </div>

  <!-- Latest compiled and minified JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: "textarea"
    });

    function reposition_banner() {
      let h = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
      let contentHeight = $('#header-wrapper').innerHeight();
      contentWidth = $('#content').width();
      if (contentHeight > contentWidth / 2) {
        $('#header-img').css('background-size', 'auto ' + contentHeight + 'px').css('background-position',
          'center 0%');
        console.log($('#header-img').css('background-size'));
      } else {
        $('#header-img').css('background-size', '100% auto').css('background-position',
          'center -10%');;
      }
    }

    $(window).on('resize load orientationchange', function () {
      reposition_banner();
    });
  </script>

</body>

</html>