{% extends "base.html" %}
{% block content %}

<div>
  <!-- Form - Blog Post -->
  <form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group p-2">
      <h5>Title</h5>
      <!-- Errors - title -->
      {% if form.title.errors %}
      <label class="alert alert-danger">{{ form.title.errors }}</label>
      {% endif %}
      <!-- Form field - title -->
      <input placeholder="Title" class="form-control m-5" name="title" type="text"
    value="{{ form.title.value|default:"" }}">   
    </div>

    <div class="form-group p-2">
      <h5>Link</h5>
      <!-- Errors - body -->
      {% if form.body.errors %}
      <label class="alert alert-danger">{{ form.body.errors }}</label>
      {% endif %}
      <!-- Form fields - body -->
      <input placeholder="Link" class="form-control m-5" name="link" type="url"
            value="{{ form.link.value|default:"" }}">
    </div>

    <div class="form-group">
      <div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-info btn-block w-50 mx-auto">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}