{% extends "base.html" %}
{% block content %}
<body>
   <div class="starter-template container">
        {% for post in posts %}
            <div class="panel">
                <div class="panel-heading">
                    <div> Created {{ post.pub_date }} by <a

                    </div>
                </div>
                <h1>{{post.title|safe}}</h1>
                <p class="panel-body"> {{ post.body|safe }}<p>
            </div>
            {% if user.is_superuser %}
            <div class="row">

                <!-- Delete button -->
                <a href="{% url 'delete_post' post.pk %}" class="col-md-2 pull-right">
                    <button type="button" class="btn btn-primary btn-block">Delete</button>
                </a>

                <!-- Update button -->
                <a href="{% url 'update_post' post.pk %}" class="col-md-2 pull-right">
                    <button type="button" class="btn btn-primary btn-block">Update</button>
                </a>

            </div>
            {% else %}

        {% endif %}
        {% endfor %}
</body>
{% endblock content %}
