{% extends "base.html" %}
{% comment %} <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({ selector: "textarea" });
    </script>
</head> {% endcomment %}

{% block content %}
<body>
    <form action="{% url 'Home' %}" method="post">
        <textarea name="text">
        </textarea>
    </form>

   <div class="starter-template">
        {% for post in posts %}
            <div class="panel">
                <div class="panel-heading">
                    <div> Created {{ post.pub_date }} by <a
                
                    </div>
                </div>
                <h1>{{post.title|safe}}</h1>
                <p class="panel-body"> {{ post.body|safe }}<p>
            </div>
            {% if user.is_superuser %}
            <div class="row">

                <!-- Delete button -->
                <a href="{% url 'delete_post' post.pk %}" class="col-md-2 pull-right">
                    <button type="button" class="btn btn-primary btn-block">Delete</button>
                </a>

                <!-- Update button -->
                <a href="{% url 'update_post' post.pk %}" class="col-md-2 pull-right">
                    <button type="button" class="btn btn-primary btn-block">Update</button>
                </a>

            </div>
            {% else %} 
           
        {% endif %}
        {% endfor %}
</body>
{% endblock content %}  
